version: '3.8'
services:
  db:
    image: postgres:15
    container_name: bot-trading-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: bot
      POSTGRES_USER: bot
      POSTGRES_PASSWORD: botpass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  app:
    build: .
    container_name: bot-trading-app
    depends_on:
      - db
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: test
    ports:
      - "8080:8080"
    restart: unless-stopped
volumes:
  db_data:
