spring:
  application:
    name: bot-trading
  config:
    import: optional:file:.env[.properties]
  profiles:
    group:
      local: local
      prod: prod
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration
  cache:
    type: caffeine

server:
  port: ${SERVER_PORT:8080}
  servlet:
    session:
      cookie:
        http-only: true

logging:
  level:
    root: INFO

management:
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info"
